spring:
  # H2 데이터베이스 설정 (테스트용)
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  # H2 콘솔 활성화
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

# 로깅 설정
logging:
  level:
    root: INFO
    com.study.myspringstudydiary: DEBUG
    org.hibernate.SQL: DEBUG